@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>We work with the American Foundation for Suicide Prevention to help bring you a free resource to get the help you need.</p>
    <p>The Enouia development team consists entirely of volunteers who work with you in mind.</p>
    <p>Donations are never required or asked for, if you wish to donate follow this link to the <a>donation page</a>!.</p>
</div>
