@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to 
        <img src="/Images/Eunoia.png"
            alt="Eunoia Logo"
            style="width:175px;height:auto" />
    </h1>
    <h2>An Interactive Screening Program to help you, get the help you need.</h2>
    <p>With Enouia, we partner with schools, businesses, and organizations to set up an interactive program that will assess your current mental health needs and help direct you to resources as you need them.</p>
</div>
